.list {
  background-color: transparent;
  margin: 0;

  h1 {
    background-color: rgba(100, 100, 100, 0.5);
  }

  ul {
    margin: 0;

    li {
      display: block;
      border-bottom: 1px #ccc solid;
      list-style-type: none;

      &:hover {
        background-color: #ddd;
      }

      a {
        display: block;
        padding: 12px;
        cursor: pointer;
      }
    }
  }
}
