.deal {
  background-color: #eee;

  fieldset {
    display: table-row;

    &:hover {
      background-color: #ddd;
    }

    label {
      margin-right: 12px;
      width: 200px;
      font-weight: bold;
    }
  }
}
