.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 2px solid #ccc;

  header {
    &.main {
      color: #000;
      background-color: rgba(100, 100, 100, 0.5);
      min-height: 60px;

      &::after {
        display: block;
        clear: both;
      }

      .header {
        img {
          width: 60px;
          height: 60px;
          border: none;
          border-radius: 3px;
          float: right;
        }
      }
    }
  }

  p {
    margin: 6px;
  }
}
